.container {
    padding: 15px;
    /* display: flex; */
    text-align: center;
    min-width: fit-content;

}


input {
    display: inline-block;
    width: 272px;

    border: 1px solid rgb(128, 128, 128);
    border-radius: 4px;

    padding: 8px 16px;
    margin-right: 8px;

}

input:hover {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
}

input:active,
input:focus {
    border: 1px solid rgb(78, 117, 255);
    outline: none;
}

button {
    display: inline-block;

    cursor: pointer;
    background: rgb(78, 117, 255);

    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04rem;
    font-size: 16px;


    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
}

button:enabled:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(108, 140, 255);
}

button:disabled {
    background: rgb(207, 207, 207);
    color: rgb(152, 152, 152);

}

.first-row {
    margin-bottom: 32px;
}


.timer {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    /* width: 355px; */
}


.field {
    display: flex;
    flex-direction: column;
}

.value {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4%;
}

.label {
    text-transform: uppercase;
}


/* <!--=========== SECTION =================-->*/


/*<!--=========== /SECTION =================-->*/

.flatpickr-calendar {
    border-radius: 8px;
    background: rgb(245, 245, 245);
}

.flatpickr-current-month {

    /* <!--=========== SECTION =================-->*/
    padding: 11px 0 0 0;


    /*<!--=========== /SECTION =================-->*/

}

.flatpickr-current-month input.cur-year {

    /* <!--=========== SECTION =================-->*/

    font-size: 16px;
    font-weight: 600;
    line-height: 20px;

    text-align: center;

    /*<!--=========== /SECTION =================-->*/
}

.flatpickr-current-month .flatpickr-monthDropdown-months {



    /* <!--=========== SECTION =================-->*/


    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: right;
    /*<!--=========== /SECTION =================-->*/



}

.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {


    /* <!--=========== SECTION =================-->*/
    background: rgb(193, 193, 193);
    border-color: rgb(193, 193, 193)
        /*<!--=========== /SECTION =================-->*/
}

.flatpickr-day.today {
    /* <!--=========== SECTION =================-->*/

    border: 1px solid rgb(78, 117, 255);
    /*<!--=========== /SECTION =================-->*/
}