.container {
    padding: 15px;
    /* display: flex; */
    text-align: center;
    min-width: fit-content;

}


input {
    display: inline-block;
    max-width: 272px;
    height: 40px;

    border: 1px solid rgb(128, 128, 128);
    border-radius: 4px;

}

input:hover {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
}

input:active {
    border: 1px solid rgb(78, 117, 255);
}

button {
    display: inline-block;
    height: 40px;

    cursor: pointer;
    background: rgb(78, 117, 255);

    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04rem;
    font-size: 16px;


    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
}

button:enabled:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(108, 140, 255);
}

button:disabled {
    background: rgb(207, 207, 207);
    color: rgb(152, 152, 152);

}

.timer {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    /* width: 355px; */
}


.field {
    display: flex;
    flex-direction: column;
}