.form {
  width: 360px;
  margin: 0 auto;
  letter-spacing: 0.04rem;
}

.dalay-input-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;

}

.delay-input {
  margin-top: 8px;
  padding: 8px 16px;
  width: 100%;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
}



.delay-input:hover {
  border: 1px solid rgb(0, 0, 0);
}

.delay-input:focus,
.delay-input:active {
  outline: none;
  border: 1px solid rgb(78, 117, 255);
}

fieldset {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 24px 48px 12px;
  border-radius: 4px;
  margin-bottom: 24px;

  text-align: left;
}

label {
  cursor: pointer;
}

input[type="radio"] {
  transform: scale(1.53);
}

legend {
  display: inline-block;
}


button {
  padding: 8px 16px;
  width: 100%;
  border: none;
  border-radius: 8px;

  background: rgb(78, 117, 255);


  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04rem;
}

button:hover {

  background: rgb(108, 140, 255);
}